<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">노리터</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">홈페이지</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/noritur">동네</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat_noritur">채팅</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/community_noritur">커뮤니티</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resell_noritur">사고팔고</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/store_noritur">동네가게</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">내 정보</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="검색" aria-label="Search" style="width: 300px;">
          <button class="btn btn-outline-success" type="submit" style="font-size: 0.8rem; padding: 2px 6px; background-color:aliceblue">검색</button>
        </form>
      </div>
    </div>
  </nav>