<% layout('layouts/boilerplate') %>
<h1>동네마당</h1>
<div>
    <a href="/noritur/new">소식공유</a>
</div>
<%for (let noritur of noriturs) {%>
    <div class="card mb-4" style="max-width:540px;">
        <div class="row">
            <div class="col-md-12">
                <img class="img-fluid mx-auto d-block" alt="" src="<%=noritur.image%>" class="card-img-top" style="max-width: 100%"; max-height: 200px;>
            </div>
            <div class="col-md-12">
                <div class="card-body">
                    <h5 class="card-title"><%= noritur.title %></h5>
                    <p class="card-text"><%= noritur.description %></p>
                    <p class="card-text">
                        <small class="text-muted">작성자 작성일 넣기</small>
                    </p>
                    <a class="btn btn-primary" href="/noritur/<%=noritur._id%>">보기</a>
                </div>
            </div>
        </div>
    </div>
<% }%>