<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>노리터</title>
</head>
<body>
    <h1>동네마당</h1>
    <div>
        <a href="/noritur/new">소식공유</a>
    </div>
    <ul>
        <%for (let noritur of noriturs) {%>
        <li><a href="/noritur/<%= noritur._id %>"><%= noritur.title %></a></li>
        <% }%>
    </ul>
</body>
</html>