<% layout('layouts/boilerplate')%>
<form action="/noritur" method="POST">
    <div>
        <label for="title">제목</label>
        <input type="text" id="title" name="noritur[title]">
    </div>
    <div>
        <label for="description"></label>
        <input type="text" id="description" name="noritur[description]">
    </div>
    <button>작성</button>
</form>
<a href="/noritur">노리터로 돌아가기</a>
